<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${specialfolder:folder=LocalApplicationData}/CleanArthitecture_Microservices/logs/internal-nlog.log">

  <variable name="logDir" value="${basedir}/logs/app" />
  <variable name="archiveDir" value="${specialfolder:folder=LocalApplicationData}/CleanArthitecture_Microservices/logs/archive" />

  <targets>
    <target xsi:type="AsyncWrapper"
            name="asyncFile"
            queueLimit="10000"
            overflowAction="Discard">

      <target xsi:type="File"
              fileName="${logDir}/app-${shortdate}.log"
              archiveFileName="${archiveDir}/app-{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="14"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8">

        <layout xsi:type="JsonLayout" includeAllProperties="true">
          <attribute name="timestamp" layout="${date:format=o}" />
          <attribute name="level" layout="${level:uppercase=true}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=type,message,method,stacktrace:innerFormat=short}" />
          
          <attribute name="who" layout="${aspnet-user-identity|dash}" />
          <attribute name="what" layout="${aspnet-request-url}" />
          <attribute name="when" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          <attribute name="action" layout="${aspnet-mvc-action}" />
          
          <attribute name="correlationId" layout="${event-properties:item=correlationId}" />
          <attribute name="clientIp" layout="${aspnet-request-ip}" />
        </layout>
      </target>
    </target>

    <target xsi:type="Console" name="console">
      <layout>${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}</layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    
    <logger name="IdentityService.*" minlevel="Info" writeTo="asyncFile" />
    <logger name="*" minlevel="Error" writeTo="asyncFile" />
  </rules>

</nlog>
